{% extends "generic.html" %}
{% block content %}
{{ block.super }}

<br>
Suspicious chest pain would indicate chest pain that may be associated with ACS or pulmonary embolism:
    <ul>
<li>Symptoms similar to previous anginal episodes</li>
<li>Substernal, "crushing" chest pain or pressure</li>
<li>Associated with nausea/vomiting</li>
<li>Associated with shortness of breath</li>
<li>Associated tachycardia or heart palpitations</li>
<li>Radiation of pain into L arm or shoulder</li>
<li>Lower extremity edema</li>
    <li>Associated hemoptysis</li>
        </ul>


        </ul>{% endblock %}