{% extends "generic.html" %}
{% block content %}
{{ block.super }}

<br>
    <h3>Risk Factors for Severe COVID-19:</h3>
    <ul>
<li>Over age 65</li>
<li>Identifies as BIPOC</li>
<li>Active cancer</li>
<li>Cerebrovascular disease</li>
<li>Children with medical complexity, genetic, neurologic or metabolic conditions, congenital heart disease, obesity,
    diabetes, asthma or other chronic lung disease, sickle cell disease, immunosuppression </li>
<li>Chronic kidney disease</li>
<li>Chronic lung disease (COPD, interstitial lung disease, pulmonary embolism, pulmonary hypertension, bronchopulmonary
    dysplasia, bronchiectasis, cystic fibrosis)</li>
<li>Chronic liver disease (cirrhosis, non-alcoholic fatty liver disease, alcoholic liver disease, autoimmune hepatitis)</li>
<li>Diabetes mellitus, type 1 and type 2</li>
<li>Down syndrome</li>
<li>Heart conditions (such as heart failure, coronary artery disease, or cardiomyopathies) </li>
<li>HIV</li>
<li>Mental health disorders (mood disorders including depression, schizophrenia spectrum disorders)</li>
<li>Neurologic conditions, including dementia</li>
<li>Obesity (BMI>/= 30 kg/m2) and overweight (BMI 25-29 kg/m2) </li>
<li>Pregnancy or recent pregnancy</li>
<li>Smoking (current and former)</li>
<li>Sickle cell disease or thalassemia</li>
<li>Solid organ or blood stem cell transplantation</li>
<li>Substance use disorders</li>
<li>Tuberculosis </li>
<li>Use of corticosteroids or other immunosuppressive medications</li>
        </ul>

    <h3>Who Is Moderately or Severely Immunocompromised?</h3>
People are considered to be moderately or severely immunocompromised if they have:
<ul>
    <li>Been receiving active cancer treatment for tumors or cancers of the blood</li>
    <li>Received an organ transplant and are taking medicine to suppress the immune system</li>
    <li>Received a stem cell transplant within the last 2 years or are taking medicine to suppress the immune system</li>
    <li>Moderate or severe primary immunodeficiency (such as DiGeorge syndrome, Wiskott-Aldrich syndrome)</li>
    <li>Advanced or untreated HIV infection</li>
    <li>Active treatment with high-dose corticosteroids or other drugs that may suppress your immune response</li>
    </ul>
{% endblock %}

